.search_add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.search input{
    padding-left: 20px;
    width: 300px;
    border: 1px rgb(214, 214, 214) solid;
    /* border-radius: 30px; */
    outline: unset;
}
input:focus{
    outline: unset !important;
}
.search_add BUTTON{
    border-radius: 10px;
    background-color: red;

}
.search_add BUTTON:hover{
    
    background-color: red;

}



.heading{
    font-family:'Pacifico', cursive;
}
.header{
    /* height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.postimg.cc/K4hzL26h/2021-09-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 10px 10px -10px #000000;
}

@media(max-width:768px){
    .search_add, .search_add .search{
        justify-content: center;
    }
}