.search_add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.search input{
    padding-left: 20px;
    width: 300px;
    border: 1px rgb(214, 214, 214) solid;
    /* border-radius: 30px; */
    outline: unset;
}

.search_add BUTTON{
    border-radius: 30px;

}



h1,h3{
    font-family: 'Luckiest Guy', cursive;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.postimg.cc/P53BgB0v/Untitled-design-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width:500px){
    .search_add, .search_add .search{
        justify-content: center;
    }
}